body {
  background-color: #170909;
}
.main_columns {
  border-style: solid;
  border-color: #090303;
  border-width: 3px;
  color: white;
  text-align: center;
}
#main_output p {
  font-size: 2.5em;
}
.main_window {
  width: 90%;
}
.btn {
  font-size: 1.5em;
  background-color: #030803;
  color: #FCEBB3;
  border-style: solid;
  border-width: 2px;
  border-radius: 3%;
  border-color: #EDD68A;
  padding: 0.5em;
  margin: 1em;
}
.navbar {
  background-color: #070202;
}
.notHidden {
  display: none;
}
ul {
  list-style: none;
}
.btn:active {
  color: red;
}
